<%- include ('../partials/header') %> 
<%- include ('../partials/main-nav') %> 

    <main class="main-signup">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="green" fill-opacity="1" d="M0,224L48,240C96,256,192,288,288,293.3C384,299,480,277,576,245.3C672,213,768,171,864,170.7C960,171,1056,213,1152,240C1248,267,1344,277,1392,282.7L1440,288L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path></svg>
        <div class="container">
            <section class="main-sec">
                <div class="form">
                    <form action="/login" method="POST">
    
                        <div class="content">
                            <label for="username">username</label>
                            <input type="text" name="username" required>
                        </div>
    
                        <div class="content">
                            <label for="password">password</label>
                            <input type="password" name="password" required>
                        </div>

                        <div class="btn">
                            <button type="submit">login</button>
                        </div>
                        <div class="forgot">
                            <a href="#">forgot password</a>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </main>

<%- include ('../partials/footer') %> 