        <footer class="main-footer">
            <div class="container">
                <div class="social-media">
                    <div class="socials">
                        <p>follow us</p>
                        <a href="https://www.instagram.com/" target="_blank"> <i class="fab fa-instagram-square"></i> </a>
                        <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square"></i> </a>
                        <a href="https://uk.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i> </a>
                        <a href="https://twitter.com/explore" target="_blank"><i class="fab fa-twitter-square"></i> </a>
                    </div>
                </div>
                <div class="nav-bars">
                    <div class="nav">
                        <div class="nav-btn">
                            <a href="#">information</a>
                        </div>
                        <div class="sub-nav">
                            <a href="/">home</a>
                            <a href="/admin">admin</a>
                            <a href="#">privacy policy</a>
                            <a href="#">contact us</a>
                        </div>
                    </div>
                    <div class="nav">
                        <div class="nav-btn">
                            <a href="#">entertainment</a>
                        </div>
                        <div class="sub-nav">
                            <a href="#">Lorem1</a>
                            <a href="#">Lorem2</a>
                            <a href="#">Lorem3</a>
                            <a href="#">Lorem4</a>
                        </div>
                    </div>

                    <div class="nav">
                        <div class="nav-btn">
                            <a href="#">popular facts</a>
                        </div>
                        <div class="sub-nav">
                            <a href="#">Lorem1</a>
                            <a href="#">Lorem2</a>
                            <a href="#">Lorem3</a>
                            <a href="#">Lorem4</a>
                        </div>
                    </div>
                    
                </div>
                <div class="copyright">
                    <p class="copyright">copyright ©2020 bkdesigner </p>
                </div>
            </div>
        </footer>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
        <script src="/public/js/main.js"></script>
    </body>
</html>