        <footer class="main-footer">
            <div class="container">
                <div class="social-media">
                    <div class="socials">
                        <p>follow us</p>
                        <a href="https://www.instagram.com/" target="_blank"> <i class="fab fa-instagram-square"></i> </a>
                        <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square"></i> </a>
                        <a href="https://uk.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i> </a>
                        <a href="https://twitter.com/explore" target="_blank"><i class="fab fa-twitter-square"></i> </a>
                    </div>
                </div>
                <div class="nav-bars">
                    <div class="nav">
                        <div class="nav-btn">
                            <a href="#">information</a>
                        </div>
                        <div class="sub-nav">
                            <a href="/">home</a>
                            <a href="/admin/managepost">admin</a>
                            <a href="#">privacy policy</a>
                            <a href="/contact">contact us</a>
                        </div>
                    </div>
                    <div class="nav">
                        <div class="nav-btn">
                            <a href="/entertainment">entertainment</a>
                        </div>
                        <div class="sub-nav">
                            <a href="/entertainment/funfacts">funfacts</a>
                            <a href="/entertainment/movies%20&%20shows">movies & shows</a>
                            <a href="/entertainment/technology">technology</a>
                            <a href="/entertainment/sports%20&%20games">sports & games</a>
                        </div>
                    </div>

                    <div class="nav">
                        <div class="nav-btn">
                            <a href="#">popular facts</a>
                        </div>
                        <div class="sub-nav">
                            <a href="/science&nature/environment">environment</a>
                            <a href="/entertainment/funfacts">funfacts</a>
                            <a href="/science&nature/body%20&%20health">health & body</a>
                            <a href="/history/people%20&%20civilization">people and civilization</a>
                        </div>
                    </div>
                    
                </div>
            </div>
                <div class="copyright">
                    <p class="copyright">copyright ©2020 by bkdesigner </p>
                </div>
        </footer>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
        <script src="https://cdn.ckeditor.com/ckeditor5/20.0.0/classic/ckeditor.js"></script>
        <script src="/public/js/main.js"></script>
    </body>
</html>