<header class="main-nav-header">
    <nav class="nav">
        
        <div class="container">
            <div class="main-nav">
                <div class="logo">
                    <a href="/"><img src="/public/images/logo.png" width="70px" height="70px" alt=""></a>
                </div>
    
                <div class="nav-bars">
                    <div class="hamburger-menu">
                        <span class="menu"><i class="fas fa-bars burger-menu"></i></span>
                    </div>
                    <div class="small-sc-bar">
                        <div class="links">
                            <div class="main-content">
                                <div class="subnav">
                                    <div class="subnav-btn">
                                        <a href="/">home</a>
                                    </div>
                                </div>
                                <div class="subnav">
                                    <div class="subnav-btn">
                                        <a href="/entertainment">entertainment </a>
                                        <span class="right-arrow"><i class="fas fa-chevron-right"></i></span>
                                    </div>
                                    <div class="subnav-content">
                                        <div class="main-menu">
                                            <span class="back-arrow"><a href="#"> <i class="fas fa-arrow-left"></i> main menu</a></span>
                                        </div>
                                        <a href="/entertainment/funfacts">funfacts</a>
                                        <a href="/entertainment/movies%20&%20shows">movies & shows</a>
                                        <a href="/entertainment/technology">technology</a>
                                        <a href="/entertainment/sports%20&%20games">sports & games</a>
                                    </div>
                                </div>
                                
                                <div class="subnav">
                                    <div class="subnav-btn">
                                        <a href="/history">history </a>
                                        <span class="right-arrow"><i class="fas fa-chevron-right"></i></span>                           
                                     </div>
                                    <div class="subnav-content">
                                        <div class="main-menu">
                                            <span class="back-arrow"><a href="#"> <i class="fas fa-arrow-left"></i> main menu</a></span>
                                        </div>
                                        <a href="/history/historic events">historic events</a>
                                        <a href="/history/people%20&%20civilization">people and civilization</a>                
                                    </div>
                                </div>
                                
                                <div class="subnav">
                                    <div class="subnav-btn">
                                        <a href="/science&nature">science & nature </a>
                                        <span class="right-arrow"><i class="fas fa-chevron-right"></i></span>                            
                                    </div>
                                    <div class="subnav-content">
                                        <div class="main-menu">
                                            <span class="back-arrow"><a href="#"> <i class="fas fa-arrow-left"></i> main menu</a></span>
                                        </div>
                                        <a href="/science&nature/animals">animals</a>
                                        <a href="/science&nature/environment">environment</a>
                                        <a href="/science&nature/physics">physics</a>
                                        <a href="/science&nature/body%20&%20health">body & health</a>
                                    </div>
                                </div>
                                <div class="subnav">
                                    <div class="subnav-btn">
                                        <a href="/contact">contact us</a>
                                    </div>
                                </div>
                            </div>
    
                            <div class="transparent">
                                <span class="burger-close"><i class="fas fa-times"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="big-sc-bar">
                        <div class="links">
                            <div class="subnav">
                                <span class="subnav-btn"> <a href="/">home</a></span>
                             </div>
                             <div class="subnav">
                                <div class="subnav-btn"> <a href="/entertainment">entertainment </a></div>
                                 <div class="subnav-content">
                                     <a href="/entertainment/funfacts">funfacts</a>
                                     <a href="/entertainment/movies%20&%20shows">movies & shows</a>
                                     <a href="/entertainment/technology">technology</a>
                                     <a href="/entertainment/sports%20&%20games">sports & games</a>
                                 </div>
                             </div>
                             
                             <div class="subnav">
                                <div class="subnav-btn"> <a href="/history">history </a></div>
                                 <div class="subnav-content">
                                     <a href="/history/historic events">historic events</a>
                                     <a href="/history/people%20&%20civilization">people and civilization</a>                
                                 </div>
                             </div>
                             
                             <div class="subnav">
                                <div class="subnav-btn"> <a href="/science&nature">science & nature </a></div>
                                 <div class="subnav-content">
                                     <a href="/science&nature/animals">animals</a>
                                     <a href="/science&nature/environment">environment</a>
                                     <a href="/science&nature/physics">physics</a>
                                     <a href="/science&nature/body%20&%20health">body & health</a>
                                 </div>
                             </div>
                    </div> 
                </div>
                <div class="message-container">
                    <% if(error && error.length > 0){ %>
                    <div class="message danger">
                      <%= error%>
                    </div>
                    <% } %>
                
                    <% if(success && success.length > 0){ %>
                    <div class="message success ">
                      <%= success%>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </nav>

</header>