<header class="nav-header">
    <nav class="nav">
        
        <div class="container">
            <div class="main-nav">
                <div class="logo">
                    <a href="/"><img src="/public/images/logo.png" width="75px" height="70" alt=""></a>
                </div>
    
                <div class="nav-bars">
                    <div class="hamburger-menu">
                        <span class="menu"><i class="fas fa-bars burger-menu"></i></span>
                    </div>
                    <div class="small-sc-bar">
                        <div class="links">
                            <div class="main-content">
                                <div class="subnav">
                                    <div class="subnav-btn">
                                        <a href="/">home</a>
                                    </div>
                                </div>
                                <div class="subnav">
                                    <div class="subnav-btn">
                                        <a href="/entertainment">entertainment </a>
                                        <span class="right-arrow"><i class="fas fa-chevron-right"></i></span>
                                    </div>
                                    <div class="subnav-content">
                                        <div class="main-menu">
                                            <span class="back-arrow"><a href="#"> <i class="fas fa-arrow-left"></i> main menu</a></span>
                                        </div>
                                        <a href="/entertainment/funfacts">funfacts</a>
                                        <a href="/entertainment/movies%20&%20shows">movies & shows</a>
                                        <a href="/entertainment/technology">technology</a>
                                        <a href="/entertainment/sports%20&%20games">sports & games</a>
                                    </div>
                                </div>
                                
                                <div class="subnav">
                                    <div class="subnav-btn">
                                        <a href="/history">history </a>
                                        <span class="right-arrow"><i class="fas fa-chevron-right"></i></span>                           
                                     </div>
                                    <div class="subnav-content">
                                        <div class="main-menu">
                                            <span class="back-arrow"><a href="#"> <i class="fas fa-arrow-left"></i> main menu</a></span>
                                        </div>
                                        <a href="/history/historic events">historic events</a>
                                        <a href="/history/people%20&%20civilization">people and civilization</a>
                
                                    </div>
                                </div>
                                
                                <div class="subnav">
                                    <div class="subnav-btn">
                                        <a href="/science&nature">science & nature </a>
                                        <span class="right-arrow"><i class="fas fa-chevron-right"></i></span>                            
                                    </div>
                                    <div class="subnav-content">
                                        <div class="main-menu">
                                            <span class="back-arrow"><a href="#"> <i class="fas fa-arrow-left"></i> main menu</a></span>
                                        </div>
                                        <a href="/science&nature/animals">animals</a>
                                        <a href="/science&nature/environment">environment</a>
                                        <a href="/science&nature/physics">physics</a>
                                        <a href="/science&nature/body%20&%20health">health & body</a>
                                    </div>
                                </div>
                                <div class="subnav">
                                    <div class="subnav-btn">
                                        <a href="/contact">contact us</a>
                                    </div>
                                </div>
                            </div>
    
                            <div class="transparent">
                                <span class="burger-close"><i class="fas fa-times"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="big-sc-bar">
                        <div class="links">
                            <div class="subnav">
                               <span class="subnav-btn"> <a href="/">home</a></span>
                            </div>
                            <div class="subnav">
                               <span class="subnav-btn"> <a href="/entertainment">entertainment </a></span>
                                <div class="subnav-content">
                                    <a href="/entertainment/funfacts">funfacts</a>
                                    <a href="/entertainment/movies%20&%20shows">movies & shows</a>
                                    <a href="/entertainment/technology">technology</a>
                                    <a href="/entertainment/sports%20&%20games">sports & games</a>
                                </div>
                            </div>
                            
                            <div class="subnav">
                               <span class="subnav-btn"> <a href="/history">history </a></span>
                                <div class="subnav-content">
                                    <a href="/history/historic events">historic events</a>
                                    <a href="/history/people%20&%20civilization">people and civilization</a>                
                                </div>
                            </div>
                            
                            <div class="subnav">
                               <span class="subnav-btn"> <a href="/science&nature">science & nature </a></span>
                                <div class="subnav-content">
                                    <a href="/science&nature/animals">animals</a>
                                    <a href="/science&nature/environment">environment</a>
                                    <a href="/science&nature/physics">physics</a>
                                    <a href="/science&nature/body%20&%20health">body & health</a>
                                </div>
                            </div>
                            <div class="subnav">
                                <% if(currentuser){ %>
                                    <div class="subnav-btn logout">
                                        <p></p>
                                        <a href="/logout" style="color: rgb(163, 198, 218);">logout</a>
                                    </div>
                                <% } %> 
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <!-- =========== -->
            <div class="message-container">
                <% if(error && error.length > 0){ %>
                <div class="message danger">
                  <%= error%>
                </div>
                <% } %>
            
                <% if(success && success.length > 0){ %>
                <div class="message success ">
                  <%= success%>
                </div>
                <% } %>
            </div>

            
            <div class="newsletter">
                <div class="title"> 
                    <h1>Lorem ipsum dolor sit amet.</h1>
                </div>
                <div class="input">
                    <form action="#">
                        <h3 for="newsletter">signup for our free newsletter</h3>
                        <input type="email" name="newsletter" placeholder="Enter your email address" required>
                        <input type="submit"></input>
                    </form>
                </div>
            </div>
        </div>
        <!-- =========== -->
        <div class="svg">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 318"><path fill="#fff" fill-opacity="1" d="M0,320L30,314.7C60,309,120,299,180,272C240,245,300,203,360,197.3C420,192,480,224,540,218.7C600,213,660,171,720,160C780,149,840,171,900,165.3C960,160,1020,128,1080,117.3C1140,107,1200,117,1260,106.7C1320,96,1380,64,1410,48L1440,32L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z"></path></svg>
        </div>
    </nav>

    
</header>