body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

// nav
.nav-header {
  .nav {
    background:#2ebdc4;
    .container {
      display: grid;
      grid-template-columns: 20% 80%;
      grid-template-rows: auto;
      padding: 0px 10px;

      .nav-bars {
        overflow: hidden;
        .hamburger-menu {
          float: right;
          i {
            font-size: 27px;
            margin-top: 20px;
            padding-right: 20px;
            cursor: pointer;
          }
        }
        .small-sc-bar {
          display: none;
          overflow: hidden;
          .links {
            display: grid;
            grid-template-columns: 40% 60%;
            float: left;
            box-sizing: border-box;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 350px;

            .transparent {
              background-color: rgba(26, 32, 41, 0.5);
              border-radius: 3px;
              .burger-close {
                float: left;
                font-size: 36px;
                color: rgb(22, 21, 21);
                padding: 15px;
                cursor: pointer;
              }
            }
            .main-content {
              display: block;
              z-index: 1;
              background-color: rgb(244, 248, 242);
              border: 1px solid grey;
              border-radius: 3px;
              color: #fff;
              .subnav {
                width: 100%;
                .subnav-btn {
                  margin-top: 20px;
                  overflow: hidden;
                  display: grid;
                  grid-template-columns: 80% 20%;

                  .right-arrow {
                    margin: 10px 0 0 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-content: center;
                    i {
                      position: absolute;
                      left: 240;
                      font-size: 22px;
                      color: rgb(71, 70, 70);
                      padding-right: 20px;
                      cursor: pointer;
                    }
                  }
                  a {
                    float: left;
                    width: 100%;
                    padding-left: 15px;
                    clear: both;
                    font-size: 23px;
                    text-transform: capitalize;
                    text-decoration: none;
                    color: rgb(10, 10, 10);
                    margin: 10px 0 0 0;
                  }
                  &:hover {
                    background-color: rgba(155, 146, 146, 0.6);
                    padding-bottom: 10px;
                  }
                }
                .subnav-content {
                  overflow: hidden;
                  display: none;

                  .main-menu {
                    span {
                      a {
                        margin: 0;
                        padding: 20px 0 0 10px;
                        i {
                          margin-right: 10px;
                          color: rgb(99, 97, 97);
                        }
                        &:hover {
                          background-color: rgba(155, 146, 146, 0.6);
                          padding-bottom: 10px;
                        }
                      }
                    }
                  }
                  a {
                    float: left;
                    width: 100%;
                    padding-left: 15px;
                    clear: both;
                    font-size: 23px;
                    text-transform: capitalize;
                    text-decoration: none;
                    color: rgb(17, 17, 17);
                    margin: 20px 0 0 0;

                    &:hover {
                      background-color: rgba(155, 146, 146, 0.6);
                      padding: 10px 15px;
                    }
                  }
                }
              }
            }
          }
        }
        // ////////////////////////////////////////////
        .big-sc-bar {
          display: none;
          .links {
            .subnav {
              float: left;
              overflow: hidden;
              .subnav-btn {
                float: left;
                width: 100%;
                padding-right: 15px;
                font-size: 23px;
                text-shadow: 0px 1px 2px #fff;
                text-transform: capitalize;
                color: rgb(39, 42, 53);
                text-decoration: none;
                text-align: center;
                margin-top: 20px;
              }
              &:hover {
                background-color: rgb(40, 160, 230);
                padding: 0 0 23px 0;
              }
              .subnav-content {
                border: 1px solid rgb(40, 160, 230);
                display: none;
                background-color: rgb(40, 160, 230);
                position: absolute;
                top: 70px;
                z-index: 1;
                a {
                  display: block;
                  color: #fff;
                  text-decoration: none;
                  padding: 10px 20px;
                  font-size: 20px;
                  text-transform: capitalize;
                  &:hover {
                    background-color: #fff;
                    color: #000;
                  }
                }
              }
              &:hover .subnav-content {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}

// Home
.home-header {
  .container {
      .newsletter {
        border: 1px solid rgb(87, 85, 85);
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: auto;

      .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin: 10px 0;
        h3 {
            text-align: center;
          margin: 0;
          padding: 0;
          text-transform: capitalize;
          font-size: 22px;
          color: rgb(106, 147, 209);
        }
      }
      .input {
          margin: 10px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        form {
          margin: 0;
          input {
            padding: 20px 15px;
            border-radius: 3px;
            border: 1px solid rgb(82, 130, 202);
            font-size: 16px;
          }
          input[type="submit"] {
            padding: 20px 15px;
            border: none;
            background-color: rgb(106, 147, 209);
            text-transform: capitalize;
            color: ivory;
            border-radius: 3px;
            cursor: pointer;
            font-size: 18px;
            &:hover {
              font-weight: bold;
            }
          }
        }
      }
    }
    .showcase{
        width: 100%;
        margin: 20px 0 0 0;
        border: 1px solid grey;
        .posts{
            .img{
                img{
                    width: 100%;
                    height: 240px;
                }
            }
            .name{
                p{
                    font-size: 24px;
                    text-transform: capitalize;
                    margin: 0;
                    padding: 10px 7px 0 7px;
                }
            }
            .cate{
                p{
                    font-size: 20px;
                    text-transform: capitalize;
                    margin: 0;
                    padding: 10px 7px 0 7px;
                }
            }
        }
    }
  }
}

//admin
.main-admin{
    background: #7d8bd2;
    background: radial-gradient(circle, #7d8bd2 0%, #54bcee 100%);
    padding: 10px 10px 40px 10px;
    margin-top: 7px;
    .container{
        max-width: 85%;
        margin: auto;
        .main-sec{
            .form{
                border: 1px solid grey;
                padding: 10px;
                max-width: 65%;
                margin:20px auto auto auto;
                form{
                    .content{
                        display: grid;
                        grid-template-columns: repeat(1, 1fr);
                        grid-row-gap: 10px;
                        max-width: 95%;
                        margin: auto;
                        label{
                            color: ivory;
                            font-size: 22px;
                            text-shadow: 1px 1px 1px #000;
                            text-transform: capitalize;
                        }
                        input{
                            padding: 10px;
                            border-radius: 5px;
                            font-size: 20px;
                            margin: 7px 0;
                            border: none;
                        }
                        .desc{
                            padding-bottom: 70px;
                        }
                    }

                    .btn{
                        width: 95%;
                        margin: auto;
                        button{
                            padding: 10px;
                            border: none;
                            background-color: #2f4f4f;
                            font-size: 27px;
                            border-radius: 7px;
                            text-transform: capitalize;
                            color: #fff;
                            cursor: pointer;

                            &:hover{
                                background-color: #1a4c4c;
                            }
                        }
                    }
                }
            }
        }
    }
}

//footer
.main-footer {
    margin: 100px 0 0 0;
    background-color: #141b1b;
  .container {
    .social-media {
      padding: 10px;
      margin: 0;
      .socials {
        padding: 15px 20px;
        p {
          font-size: 26px;
          margin: 0;
          text-transform: capitalize;
          text-shadow: 0px 1px 1px #000;
          color: #fff;
        }
        a {
          color: #fff;
          font-size: 44px;
          text-decoration: none;
          text-align: center;

          &:hover {
            color: rgb(219, 217, 217);
          }
        }
      }
    }
    .nav-bars {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      grid-gap: 10px;
      padding: 15px 30px;

      .nav {
        overflow: hidden;
        a {
          display: block;
          font-size: 20px;
          text-transform: capitalize;
          box-sizing: border-box;
          text-decoration: none;
          color: #fff;
          padding: 5px 10px;

          &:hover {
            color:#6c6bb3 ;
          }
        }
        .nav-btn {
          a {
            letter-spacing: 1px;
            text-shadow: 0px 1px 1px #000;
          }
        }
        .sub-nav {
          a {
            color: rgb(212, 212, 207);
            font-size: 18px;

            &:hover {
                color:#6c6bb3 ;
              }
          }
        }
      }
    }
    .copyright{
        p{
            text-align: center;
            border: 1px solid #2a4747;
            padding: 5px;
            letter-spacing: 1px;
            margin: 0;
            color: rgb(173, 173, 173);
        }
    }
  }
}
