body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.nav-header .nav {
  background: #0099ff;
}

.nav-header .nav .container .main-nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80% 20%;
      grid-template-columns: 80% 20%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "menu logo";
  padding: 0px 10px;
}

.nav-header .nav .container .main-nav .logo {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: logo;
}

.nav-header .nav .container .main-nav .nav-bars {
  overflow: hidden;
}

.nav-header .nav .container .main-nav .nav-bars .hamburger-menu {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: menu;
}

.nav-header .nav .container .main-nav .nav-bars .hamburger-menu i {
  font-size: 27px;
  margin-top: 20px;
  padding-left: 10px;
  cursor: pointer;
}

.nav-header .nav .container .main-nav .nav-bars .small-sc-bar {
  display: none;
  overflow: hidden;
}

.nav-header .nav .container .main-nav .nav-bars .small-sc-bar .links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.nav-header .nav .container .main-nav .nav-bars .small-sc-bar .links .transparent {
  background-color: rgba(26, 32, 41, 0.5);
  border-radius: 3px;
}

.nav-header .nav .container .main-nav .nav-bars .small-sc-bar .links .transparent .burger-close {
  float: left;
  font-size: 36px;
  color: #66d84a;
  padding: 15px;
  cursor: pointer;
}

.nav-header .nav .container .main-nav .nav-bars .small-sc-bar .links .main-content {
  display: block;
  z-index: 1;
  background-color: #fffdfd;
  border: 1px solid grey;
  border-radius: 3px;
  color: #fff;
}

.nav-header .nav .container .main-nav .nav-bars .small-sc-bar .links .main-content .subnav {
  width: 100%;
}

.nav-header .nav .container .main-nav .nav-bars .small-sc-bar .links .main-content .subnav .subnav-btn {
  margin-top: 20px;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80% 20%;
      grid-template-columns: 80% 20%;
}

.nav-header .nav .container .main-nav .nav-bars .small-sc-bar .links .main-content .subnav .subnav-btn .right-arrow {
  margin: 10px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.nav-header .nav .container .main-nav .nav-bars .small-sc-bar .links .main-content .subnav .subnav-btn .right-arrow i {
  position: absolute;
  left: 200;
  font-size: 22px;
  color: #474646;
  padding-right: 20px;
  cursor: pointer;
}

.nav-header .nav .container .main-nav .nav-bars .small-sc-bar .links .main-content .subnav .subnav-btn a {
  float: left;
  width: 100%;
  padding-left: 15px;
  clear: both;
  font-size: 23px;
  text-transform: capitalize;
  text-decoration: none;
  color: #0a0a0a;
  margin: 10px 0 0 0;
}

.nav-header .nav .container .main-nav .nav-bars .small-sc-bar .links .main-content .subnav .subnav-btn:hover {
  background-color: rgba(102, 216, 74, 0.5);
  padding-bottom: 10px;
}

.nav-header .nav .container .main-nav .nav-bars .small-sc-bar .links .main-content .subnav .subnav-content {
  overflow: hidden;
  display: none;
}

.nav-header .nav .container .main-nav .nav-bars .small-sc-bar .links .main-content .subnav .subnav-content .main-menu span a {
  margin: 0;
  padding: 20px 0 0 10px;
}

.nav-header .nav .container .main-nav .nav-bars .small-sc-bar .links .main-content .subnav .subnav-content .main-menu span a i {
  margin-right: 10px;
  color: #636161;
}

.nav-header .nav .container .main-nav .nav-bars .small-sc-bar .links .main-content .subnav .subnav-content .main-menu span a:hover {
  background-color: rgba(102, 216, 74, 0.5);
  padding-bottom: 10px;
}

.nav-header .nav .container .main-nav .nav-bars .small-sc-bar .links .main-content .subnav .subnav-content a {
  float: left;
  width: 100%;
  padding-left: 15px;
  clear: both;
  font-size: 23px;
  text-transform: capitalize;
  text-decoration: none;
  color: #111111;
  margin: 20px 0 0 0;
}

.nav-header .nav .container .main-nav .nav-bars .small-sc-bar .links .main-content .subnav .subnav-content a:hover {
  background-color: rgba(102, 216, 74, 0.5);
  padding: 10px 15px;
}

.nav-header .nav .container .main-nav .nav-bars .big-sc-bar {
  display: none;
}

.nav-header .nav .container .main-nav .nav-bars .big-sc-bar .links .subnav {
  float: left;
  overflow: hidden;
}

.nav-header .nav .container .main-nav .nav-bars .big-sc-bar .links .subnav .subnav-btn {
  float: left;
  width: 100%;
  padding-right: 15px;
  font-size: 23px;
  text-shadow: 0px 1px 2px #fff;
  text-transform: capitalize;
  color: #272a35;
  text-decoration: none;
  text-align: center;
  margin-top: 20px;
}

.nav-header .nav .container .main-nav .nav-bars .big-sc-bar .links .subnav:hover {
  background-color: #28a0e6;
  padding: 0 0 23px 0;
}

.nav-header .nav .container .main-nav .nav-bars .big-sc-bar .links .subnav .subnav-content {
  border: 1px solid #28a0e6;
  display: none;
  background-color: #28a0e6;
  position: absolute;
  top: 70px;
  z-index: 1;
}

.nav-header .nav .container .main-nav .nav-bars .big-sc-bar .links .subnav .subnav-content a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 20px;
  text-transform: capitalize;
}

.nav-header .nav .container .main-nav .nav-bars .big-sc-bar .links .subnav .subnav-content a:hover {
  background-color: #fff;
  color: #000;
}

.nav-header .nav .container .main-nav .nav-bars .big-sc-bar .links .subnav:hover .subnav-content {
  display: block;
}

.nav-header .nav .container .newsletter .title {
  text-align: center;
  color: #fff;
}

.nav-header .nav .container .newsletter .title h1 {
  font-size: 26px;
  margin: 0;
}

.nav-header .nav .container .newsletter .input {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-header .nav .container .newsletter .input form {
  margin: 0;
}

.nav-header .nav .container .newsletter .input form h3 {
  margin: 0 0 10px 0;
  padding: 0;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 18px;
  text-align: center;
  color: ivory;
}

.nav-header .nav .container .newsletter .input form input {
  padding: 10px 25px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
}

.nav-header .nav .container .newsletter .input form input[type="submit"] {
  padding: 10px 25px;
  border: none;
  background-color: #66d84a;
  text-transform: capitalize;
  color: black;
  cursor: pointer;
  font-size: 18px;
}

.nav-header .nav .container .newsletter .input form input[type="submit"]:hover {
  font-weight: bold;
}

.main-nav-header .nav {
  background: #0099ff;
}

.main-nav-header .nav .container .main-nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80% 20%;
      grid-template-columns: 80% 20%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "menu logo";
  padding: 0px 10px;
}

.main-nav-header .nav .container .main-nav .logo {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: logo;
}

.main-nav-header .nav .container .main-nav .nav-bars {
  overflow: hidden;
}

.main-nav-header .nav .container .main-nav .nav-bars .hamburger-menu {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: menu;
}

.main-nav-header .nav .container .main-nav .nav-bars .hamburger-menu i {
  font-size: 27px;
  margin-top: 20px;
  padding-left: 10px;
  cursor: pointer;
}

.main-nav-header .nav .container .main-nav .nav-bars .small-sc-bar {
  display: none;
  overflow: hidden;
}

.main-nav-header .nav .container .main-nav .nav-bars .small-sc-bar .links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.main-nav-header .nav .container .main-nav .nav-bars .small-sc-bar .links .transparent {
  background-color: rgba(26, 32, 41, 0.5);
}

.main-nav-header .nav .container .main-nav .nav-bars .small-sc-bar .links .transparent .burger-close {
  float: left;
  font-size: 36px;
  color: #66d84a;
  padding: 15px;
  cursor: pointer;
}

.main-nav-header .nav .container .main-nav .nav-bars .small-sc-bar .links .main-content {
  display: block;
  z-index: 1;
  background-color: #fdfdfd;
  border: 1px solid black;
  color: #fff;
}

.main-nav-header .nav .container .main-nav .nav-bars .small-sc-bar .links .main-content .subnav {
  width: 100%;
}

.main-nav-header .nav .container .main-nav .nav-bars .small-sc-bar .links .main-content .subnav .subnav-btn {
  margin-top: 20px;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80% 20%;
      grid-template-columns: 80% 20%;
}

.main-nav-header .nav .container .main-nav .nav-bars .small-sc-bar .links .main-content .subnav .subnav-btn .right-arrow {
  margin: 10px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.main-nav-header .nav .container .main-nav .nav-bars .small-sc-bar .links .main-content .subnav .subnav-btn .right-arrow i {
  position: absolute;
  left: 200;
  font-size: 22px;
  color: #474646;
  padding-right: 20px;
  cursor: pointer;
}

.main-nav-header .nav .container .main-nav .nav-bars .small-sc-bar .links .main-content .subnav .subnav-btn a {
  float: left;
  width: 100%;
  padding-left: 15px;
  clear: both;
  font-size: 23px;
  text-transform: capitalize;
  text-decoration: none;
  color: #0a0a0a;
  margin: 10px 0 0 0;
}

.main-nav-header .nav .container .main-nav .nav-bars .small-sc-bar .links .main-content .subnav .subnav-btn:hover {
  background-color: rgba(102, 216, 74, 0.5);
  padding-bottom: 10px;
}

.main-nav-header .nav .container .main-nav .nav-bars .small-sc-bar .links .main-content .subnav .subnav-content {
  overflow: hidden;
  display: none;
}

.main-nav-header .nav .container .main-nav .nav-bars .small-sc-bar .links .main-content .subnav .subnav-content .main-menu span a {
  margin: 0;
  padding: 20px 0 0 10px;
}

.main-nav-header .nav .container .main-nav .nav-bars .small-sc-bar .links .main-content .subnav .subnav-content .main-menu span a i {
  margin-right: 10px;
  color: #636161;
}

.main-nav-header .nav .container .main-nav .nav-bars .small-sc-bar .links .main-content .subnav .subnav-content .main-menu span a:hover {
  background-color: rgba(102, 216, 74, 0.5);
  padding-bottom: 10px;
}

.main-nav-header .nav .container .main-nav .nav-bars .small-sc-bar .links .main-content .subnav .subnav-content a {
  float: left;
  width: 100%;
  padding-left: 15px;
  clear: both;
  font-size: 23px;
  text-transform: capitalize;
  text-decoration: none;
  color: #111111;
  margin: 20px 0 0 0;
}

.main-nav-header .nav .container .main-nav .nav-bars .small-sc-bar .links .main-content .subnav .subnav-content a:hover {
  background-color: rgba(102, 216, 74, 0.5);
  padding: 10px 15px;
}

.main-nav-header .nav .container .main-nav .nav-bars .big-sc-bar {
  display: none;
}

.main-nav-header .nav .container .main-nav .nav-bars .big-sc-bar .links .subnav {
  float: left;
  overflow: hidden;
}

.main-nav-header .nav .container .main-nav .nav-bars .big-sc-bar .links .subnav .subnav-btn {
  float: left;
  width: 100%;
  padding-right: 15px;
  font-size: 23px;
  text-shadow: 0px 1px 2px #fff;
  text-transform: capitalize;
  color: #272a35;
  text-decoration: none;
  text-align: center;
  margin-top: 20px;
}

.main-nav-header .nav .container .main-nav .nav-bars .big-sc-bar .links .subnav:hover {
  background-color: #28a0e6;
  padding: 0 0 23px 0;
}

.main-nav-header .nav .container .main-nav .nav-bars .big-sc-bar .links .subnav .subnav-content {
  border: 1px solid #28a0e6;
  display: none;
  background-color: #28a0e6;
  position: absolute;
  top: 70px;
  z-index: 1;
}

.main-nav-header .nav .container .main-nav .nav-bars .big-sc-bar .links .subnav .subnav-content a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 20px;
  text-transform: capitalize;
}

.main-nav-header .nav .container .main-nav .nav-bars .big-sc-bar .links .subnav .subnav-content a:hover {
  background-color: #fff;
  color: #000;
}

.main-nav-header .nav .container .main-nav .nav-bars .big-sc-bar .links .subnav:hover .subnav-content {
  display: block;
}

.admin-nav-header .nav {
  background: #0099ff;
}

.admin-nav-header .nav .container .main-nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80% 20%;
      grid-template-columns: 80% 20%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "menu logo";
  padding: 0px 10px;
}

.admin-nav-header .nav .container .main-nav .logo {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: logo;
}

.admin-nav-header .nav .container .main-nav .nav-bars {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: menu;
  overflow: hidden;
}

.admin-nav-header .nav .container .main-nav .nav-bars .hamburger-menu {
  float: left;
}

.admin-nav-header .nav .container .main-nav .nav-bars .hamburger-menu i {
  font-size: 27px;
  margin-top: 20px;
  padding-left: 20px;
  cursor: pointer;
}

.admin-nav-header .nav .container .main-nav .nav-bars .small-sc-bar {
  display: none;
  overflow: hidden;
}

.admin-nav-header .nav .container .main-nav .nav-bars .small-sc-bar .links {
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100vh;
  background-color: #f4f8f2;
  border: 1px solid grey;
  border-radius: 3px;
}

.admin-nav-header .nav .container .main-nav .nav-bars .small-sc-bar .links .close {
  text-align: right;
  padding: 5px 15px 0 0px;
}

.admin-nav-header .nav .container .main-nav .nav-bars .small-sc-bar .links .close span {
  color: #e96363;
  font-size: 36px;
  cursor: pointer;
}

.admin-nav-header .nav .container .main-nav .nav-bars .small-sc-bar .links .main-content {
  display: block;
  z-index: 1;
  color: #fff;
}

.admin-nav-header .nav .container .main-nav .nav-bars .small-sc-bar .links .main-content .subnav {
  width: 100%;
}

.admin-nav-header .nav .container .main-nav .nav-bars .small-sc-bar .links .main-content .subnav .subnav-btn {
  margin-top: 20px;
  overflow: hidden;
}

.admin-nav-header .nav .container .main-nav .nav-bars .small-sc-bar .links .main-content .subnav .subnav-btn button {
  width: 100%;
  text-align: left;
  clear: both;
  font-size: 23px;
  text-transform: capitalize;
  text-decoration: none;
  color: #0a0a0a;
  margin: 10px 0 0 0;
  padding: 10px 5px 0 10px;
}

.admin-nav-header .nav .container .main-nav .nav-bars .small-sc-bar .links .main-content .subnav .subnav-btn button i {
  color: #414040;
}

.admin-nav-header .nav .container .main-nav .nav-bars .small-sc-bar .links .main-content .subnav .subnav-btn button:hover {
  background-color: rgba(247, 114, 114, 0.6);
  padding-bottom: 10px;
}

.home-header .container .showcase {
  margin-bottom: 20px;
}

.home-header .container .showcase .slide-show {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 10px;
  padding: 10px 0;
}

.home-header .container .showcase .slide-show .images {
  width: 90%;
  margin: auto;
}

.home-header .container .showcase .slide-show .images .img img {
  width: 100%;
  max-height: 220px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.home-header .container .showcase .slide-show .images .name p {
  text-align: center;
  font-size: 32px;
  margin: 0;
  padding-top: 10px;
}

.home-header .container .showcase .slide-show .images .topic {
  padding: 0px 7px;
}

.home-header .container .showcase .slide-show .images .topic p {
  font-size: 18px;
  margin: 0;
  text-transform: capitalize;
}

.home-header .container .showcase .slide-show .images .body p {
  padding: 0 10px;
  letter-spacing: 1px;
}

.home-header .container .showcase .slide-show .images .readmore {
  background-color: #f52e2e;
  text-align: center;
  border-radius: 7px;
  padding: 5px 0;
}

.home-header .container .showcase .slide-show .images .readmore a {
  font-size: 22px;
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
  cursor: pointer;
}

.home-header .container .showcase .slide-show .images .readmore-showcase {
  background-color: #397cfa;
}

.home-header .container .posts .title {
  margin: 45px 20px 35px 20px;
}

.home-header .container .posts .title h1 {
  font-size: 26px;
  text-align: center;
  text-transform: capitalize;
  background: -webkit-gradient(linear, left top, right top, from(#5550eb), to(#00ff88));
  background: linear-gradient(90deg, #5550eb 0%, #00ff88 100%);
  padding: 5px 0;
  border-radius: 21px;
  color: #fff;
  margin: 5px 25px;
}

.home-header .container .posts .title hr {
  border: 1px solid #052505;
  border-radius: 50%;
  margin: 5px 0;
}

.home-header .container .posts .posts-div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 10px;
  padding: 20px 10px;
}

.home-header .container .posts .posts-div .images .img img {
  width: 100%;
  max-height: 220px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.home-header .container .posts .posts-div .images .name p {
  text-align: center;
  font-size: 32px;
  margin: 0;
  padding-top: 10px;
}

.home-header .container .posts .posts-div .images .topic {
  padding: 0px 7px;
}

.home-header .container .posts .posts-div .images .topic p {
  font-size: 18px;
  margin: 0;
  text-transform: capitalize;
}

.home-header .container .posts .posts-div .images .body p {
  padding: 0 10px;
  letter-spacing: 1px;
}

.home-header .container .posts .posts-div .images .readmore {
  background-color: #f52e2e;
  text-align: center;
  border-radius: 7px;
  padding: 5px 0;
}

.home-header .container .posts .posts-div .images .readmore a {
  font-size: 22px;
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
  cursor: pointer;
}

.main-signup {
  background-color: #0099ff;
  background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
  margin: 0;
}

.main-signup .container {
  max-width: 85%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.main-signup .container .main-sec {
  position: relative;
  bottom: 70px;
}

.main-signup .container .main-sec .form {
  background-color: ivory;
  padding: 10px;
  border-radius: 7px;
}

.main-signup .container .main-sec .form form .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 10px;
  margin: 0px 0 15px 0;
}

.main-signup .container .main-sec .form form .content label {
  color: #000;
  font-size: 22px;
  text-transform: capitalize;
}

.main-signup .container .main-sec .form form .content input {
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  border: 1px solid #000;
}

.main-signup .container .main-sec .form form .content {
  margin: 10px 0 20px 0;
}

.main-signup .container .main-sec .form form .content select {
  font-size: 18px;
  text-transform: capitalize;
  line-height: 1.5;
  padding: 5px 10px;
  border: 1px solid #000;
  width: 200px;
}

.main-signup .container .main-sec .form form .btn {
  width: 95%;
  margin: auto;
}

.main-signup .container .main-sec .form form .btn button {
  padding: 10px;
  border: none;
  background-color: #4f58da;
  font-size: 27px;
  border-radius: 7px;
  text-transform: capitalize;
  color: #fff;
  cursor: pointer;
}

.main-signup .container .main-sec .form form .btn button:hover {
  background-color: #1a4c4c;
}

.main-admin .container {
  width: 90%;
  margin: auto;
}

.main-admin .container .main-btn {
  margin: 10px 0 30px 0;
  text-align: center;
}

.main-admin .container .main-btn button {
  background-color: #487c7c;
  color: #fff;
  font-size: 20px;
  border: none;
  border-radius: 7px;
  text-transform: capitalize;
  padding: 7px 12px;
  cursor: pointer;
  margin: 0 7px;
}

.main-admin .container .add-post, .main-admin .container .edit-post {
  background-color: #dbd8d8;
  border-radius: 12px;
}

.main-admin .container .add-post .fields, .main-admin .container .edit-post .fields {
  border: 1px solid grey;
  border-radius: 12px;
  padding: 0 10px;
}

.main-admin .container .add-post .fields h1, .main-admin .container .edit-post .fields h1 {
  font-size: 32px;
  text-align: center;
  text-transform: capitalize;
}

.main-admin .container .add-post .fields form .content, .main-admin .container .edit-post .fields form .content {
  display: block;
}

.main-admin .container .add-post .fields form .content label, .main-admin .container .edit-post .fields form .content label {
  font-size: 24px;
  font-weight: normal;
  text-transform: capitalize;
}

.main-admin .container .add-post .fields form .content input, .main-admin .container .edit-post .fields form .content input {
  width: 100%;
  font-size: 20px;
  border: 1px solid #3b3b3b;
  border-radius: 7px;
  margin-bottom: 10px;
  padding: 10px;
}

.main-admin .container .add-post .fields form .body-input, .main-admin .container .edit-post .fields form .body-input {
  width: 100%;
}

.main-admin .container .add-post .fields form .body-input p, .main-admin .container .edit-post .fields form .body-input p {
  font-size: 20px;
  text-transform: capitalize;
  margin: 0;
}

.main-admin .container .add-post .fields form .body-input textarea, .main-admin .container .edit-post .fields form .body-input textarea {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border-radius: 7px;
}

.main-admin .container .add-post .fields form .topic, .main-admin .container .edit-post .fields form .topic {
  padding: 10px 0;
}

.main-admin .container .add-post .fields form .topic select, .main-admin .container .edit-post .fields form .topic select {
  text-transform: capitalize;
  font-size: 18px;
}

.main-admin .container .add-post .fields form .btn, .main-admin .container .edit-post .fields form .btn {
  margin: 10px 0 0px 0;
}

.main-admin .container .add-post .fields form .btn button, .main-admin .container .edit-post .fields form .btn button {
  background-color: #487c7c;
  color: #fff;
  font-size: 20px;
  border: none;
  border-radius: 7px;
  text-transform: capitalize;
  padding: 7px 12px;
  cursor: pointer;
  margin: 0 7px;
}

.main-admin .container .manage-post .title h1 {
  text-align: center;
  text-transform: capitalize;
  font-size: 32px;
  margin: 10px 0;
}

.main-admin .container .manage-post .posts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 10px;
  padding: 20px 10px;
}

.main-admin .container .manage-post .posts .images .img img {
  width: 100%;
  height: auto;
  border-radius: 7px;
}

.main-admin .container .manage-post .posts .images .name p {
  text-align: center;
  font-size: 32px;
  margin: 0;
  padding-top: 10px;
}

.main-admin .container .manage-post .posts .images .topic {
  padding: 0px 7px;
}

.main-admin .container .manage-post .posts .images .topic p {
  font-size: 18px;
  margin: 0;
  text-transform: capitalize;
}

.main-admin .container .manage-post .posts .images .body p {
  padding: 0 10px;
  letter-spacing: 1px;
}

.main-admin .container .manage-post .posts .images .readmore {
  background-color: #f52e2e;
  text-align: center;
  padding: 5px 0;
  border-radius: 7px;
}

.main-admin .container .manage-post .posts .images .readmore a {
  font-size: 22px;
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
  cursor: pointer;
}

.showdesc-header .showdesc-sec {
  margin-top: 20px;
}

.showdesc-header .showdesc-sec .container {
  width: 95%;
  margin: auto;
}

.showdesc-header .showdesc-sec .links a {
  font-size: 18px;
  text-transform: capitalize;
  text-decoration: none;
  color: #0099ff;
  padding-left: 7px;
}

.showdesc-header .showdesc-sec .links i {
  color: #3d3d3d;
}

.showdesc-header .showdesc-sec .images .post-title h1 {
  margin: 10px 0;
  font-size: 27px;
  text-transform: capitalize;
  color: #363232;
}

.showdesc-header .showdesc-sec .images .img img {
  width: 100%;
  max-height: 340px;
  border-radius: 7px;
}

.showdesc-header .showdesc-sec .images .topic p {
  font-size: 16px;
  text-transform: capitalize;
  background-color: #0099ff;
  padding: 5px 10px;
  text-align: center;
  width: 100px;
  color: #fff;
  border-radius: 7px;
  margin: 10px 0;
}

.showdesc-header .showdesc-sec .images .btns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin-bottom: 30px;
}

.showdesc-header .showdesc-sec .images .btns button {
  margin: 0;
  font-size: 20px;
  border-radius: 7px;
  border: none;
  padding: 5px 10px;
  color: #fff;
  text-transform: capitalize;
}

.showdesc-header .showdesc-sec .images .btns button a {
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.showdesc-header .showdesc-sec .images .btns .edit-btn {
  background-color: #fcbc45;
}

.showdesc-header .showdesc-sec .images .btns form {
  margin: 0;
}

.showdesc-header .showdesc-sec .images .btns form button {
  background-color: #f84848;
  margin: 0;
  width: 100%;
  height: auto;
}

.showdesc-header .showdesc-sec .images .body {
  width: 90%;
  margin: auto;
}

.showdesc-header .showdesc-sec .images .body p {
  margin: 0;
  font-size: 18px;
  letter-spacing: 0.5px;
  color: #1a1919;
  line-height: 1.5em;
}

.showdesc-header .recent-posts .title {
  margin: 45px 20px 35px 20px;
  width: 90%;
}

.showdesc-header .recent-posts .title h1 {
  font-size: 26px;
  text-align: center;
  text-transform: capitalize;
  background: -webkit-gradient(linear, left top, right top, from(#5550eb), to(#00ff88));
  background: linear-gradient(90deg, #5550eb 0%, #00ff88 100%);
  padding: 5px 0;
  border-radius: 21px;
  color: #fff;
  margin: 5px 25px;
}

.showdesc-header .recent-posts .title hr {
  border: 1px solid #052505;
  border-radius: 50%;
  margin: 5px 0;
}

.showdesc-header .recent-posts .recent-posts-div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 10px;
  padding: 20px 10px;
}

.showdesc-header .recent-posts .recent-posts-div .images .img img {
  width: 100%;
  max-height: 220px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.showdesc-header .recent-posts .recent-posts-div .images .name p {
  text-align: center;
  font-size: 32px;
  margin: 0;
  padding-top: 10px;
}

.showdesc-header .recent-posts .recent-posts-div .images .topic {
  padding: 0px 7px;
}

.showdesc-header .recent-posts .recent-posts-div .images .topic p {
  font-size: 18px;
  margin: 0;
  text-transform: capitalize;
}

.showdesc-header .recent-posts .recent-posts-div .images .body p {
  padding: 0 10px;
  letter-spacing: 1px;
}

.showdesc-header .recent-posts .recent-posts-div .images .readmore {
  background-color: #f52e2e;
  text-align: center;
  border-radius: 7px;
  padding: 5px 0;
}

.showdesc-header .recent-posts .recent-posts-div .images .readmore a {
  font-size: 22px;
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
  cursor: pointer;
}

.subnav-header .container .posts .title {
  margin: 10px 20px 35px 20px;
}

.subnav-header .container .posts .title h1 {
  font-size: 26px;
  text-align: center;
  text-transform: capitalize;
  background: -webkit-gradient(linear, left top, right top, from(#5550eb), to(#00ff88));
  background: linear-gradient(90deg, #5550eb 0%, #00ff88 100%);
  padding: 5px 0;
  border-radius: 21px;
  color: #fff;
  margin: 5px 25px;
}

.subnav-header .container .posts .title hr {
  border: 1px solid #052505;
  border-radius: 50%;
  margin: 5px 0;
}

.subnav-header .container .posts .posts-div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 10px;
  padding: 20px 10px;
}

.subnav-header .container .posts .posts-div .images .img img {
  width: 100%;
  max-height: 220px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.subnav-header .container .posts .posts-div .images .name p {
  text-align: center;
  font-size: 32px;
  margin: 0;
  padding-top: 10px;
}

.subnav-header .container .posts .posts-div .images .topic {
  padding: 0px 7px;
}

.subnav-header .container .posts .posts-div .images .topic p {
  font-size: 18px;
  margin: 0;
  text-transform: capitalize;
}

.subnav-header .container .posts .posts-div .images .body p {
  padding: 0 10px;
  letter-spacing: 1px;
}

.subnav-header .container .posts .posts-div .images .readmore {
  background-color: #f52e2e;
  text-align: center;
  border-radius: 7px;
  padding: 5px 0;
}

.subnav-header .container .posts .posts-div .images .readmore a {
  font-size: 22px;
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
  cursor: pointer;
}

.message-container {
  width: 85%;
  margin: 10px auto;
  background-color: #0099ff;
}

.message-container .success {
  background-color: #45d845;
  border-radius: 10px;
  font-size: 18px;
  font-weight: normal;
  padding: 10px 20px;
  color: #101110;
  margin: 10px 0;
}

.message-container .danger {
  background-color: #e46060;
  border-radius: 10px;
  font-size: 18px;
  font-weight: normal;
  padding: 10px 20px;
  color: #421618;
}

.main-footer {
  margin: 100px 0 0 0;
  background-color: #141b1b;
}

.main-footer .container .social-media {
  padding: 10px;
  margin: 0;
}

.main-footer .container .social-media .socials {
  padding: 15px 20px;
}

.main-footer .container .social-media .socials p {
  font-size: 26px;
  margin: 0;
  text-transform: capitalize;
  text-shadow: 0px 1px 1px #000;
  color: #fff;
}

.main-footer .container .social-media .socials a {
  color: #fff;
  font-size: 44px;
  text-decoration: none;
  text-align: center;
}

.main-footer .container .social-media .socials a:hover {
  color: #f84747;
}

.main-footer .container .nav-bars {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  padding: 15px 15px;
}

.main-footer .container .nav-bars .nav {
  overflow: hidden;
}

.main-footer .container .nav-bars .nav a {
  display: block;
  font-size: 18px;
  text-transform: capitalize;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: #fff;
  padding: 5px 10px 5px 0px;
}

.main-footer .container .nav-bars .nav a:hover {
  background-color: #f84747;
  color: #fff;
}

.main-footer .container .nav-bars .nav .nav-btn a {
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 1px;
}

.main-footer .container .nav-bars .nav .sub-nav a {
  color: #d4d4cf;
  font-size: 18px;
  width: 50%;
}

.main-footer .container .nav-bars .nav .sub-nav a:hover {
  background-color: #f84747;
  color: #ffffff;
}

.main-footer .container .copyright p {
  text-align: center;
  border: 1px solid #2a4747;
  padding: 5px;
  letter-spacing: 1px;
  margin: 0;
  color: #adadad;
}

.ck-editor__editable {
  min-height: 200px;
}
/*# sourceMappingURL=app.css.map */