<%- include ('../partials/header') %> 
<%- include ('../partials/main-nav') %> 

    <header class="showdesc-header">
        <section class="showdesc-sec">
            <div class="container">
                <div class="images">
                    <div class="name">
                        <p></p>
                    </div>
                    <div class="img">
                        <img src="" alt="">
                    </div>
                    <div class="cate">
                        <p></p>
                    </div>
                    <div class="description">
                        <p></p>
                    </div>

                </div>
            </div>
        </section>
    </header>







<%- include ('../partials/footer') %> 