<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <style>
        main{
            width: 80%;
            margin: auto;
        }
        h1{
            color: rgb(59, 58, 58);
        }
        .contact{
            text-decoration: none;
            color: rgb(49, 49, 196);
            font-weight: bold;
        }
        .contact:hover{
            text-decoration: underline;
        }
        p{
            font-size: 18px;
            margin-bottom: 20px;
        }
        .btn{
            background-color: rgb(255, 66, 66);
            text-decoration: none;
            font-size: 18px;
            padding: 10px;
            border-radius: 12px;
            color: ivory;
        }
    </style>
</head>
<body>
    <main>
        <h1>Sorry, the page you requested could not be found.
        </h1>
        <div>
            <p>It is possible that the address is incorrect or that the page no longer exists. Please <a class="contact" href="/contact">contact us</a> to let us know about the problem.</p>
        </div>
        <a href="/" class="btn">Return to the home page</a>
    </main>
</body>
</html>